DJANGO_SECRET_KEY=change_me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgres://postgres:postgres@localhost:5432/insurance_db
REDIS_URL=redis://localhost:6379/0

# Email Configuration
# Para usar SMTP en desarrollo local, establece EMAIL_USE_SMTP=true
# Para usar consola (imprime emails en logs), deja EMAIL_USE_SMTP=false
EMAIL_USE_SMTP=true
EMAIL_HOST=mail.proffesionalsense.com
EMAIL_PORT=465
EMAIL_USE_SSL=true
EMAIL_USE_TLS=false
EMAIL_HOST_USER=casse@proffesionalsense.com
EMAIL_HOST_PASSWORD=@Sense2025.
DEFAULT_FROM_EMAIL=casse@proffesionalsense.com

JWT_ACCESS_MINUTES=15
JWT_REFRESH_DAYS=7

LOG_LEVEL=INFO
